.gameboard {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  width: 100%;


}

.header {
  margin: 2rem 2rem 1rem 2rem; 
  display: block; 
  width: 90%; 
  text-align: center;
  justify-content: space-between; 
}
.explanation {
  font-size: 1.2em; 
  margin-bottom: 2%; 

}
.target {
  font-size: 5em; 
  text-align: center; 
  margin: 0rem 5%;

}
.initial-sum {
  margin: 1rem 5%;

}
.challenge-numbers{
  display: flex; 
  justify-content: center;
  width: 100%;
  font-size: 0.8em;

}
.number {
  text-align: center;
  font-size: 14px;
  margin: 2%; 
}


.footer {
  margin: 3%; 
  display: flex; 
  justify-content: space-between;  

}

.timer-value { 
  color: darkgreen; 
  font-size: 2rem; 
  margin: 2% 2% 0 2%;
  text-align: center;
}

.win-count {
  color: black; 
  font-size: 1.7rem;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.mainbuttons {
  display: flex;
  justify-content: center;
  margin: 2%;

}
.startbutton {
  font-size: 0.8em;
  margin-right: 2%;
}
.startbutton > button  > div > span{
  font-size: 10px !important;
}
.startbutton  > button  > div > div > span{
  font-size: 10px !important;
}


.resetbutton {
  font-size: 0.8em;
  margin-left: 2%;
}
.resetbutton  > button  > div > span{
  font-size: 10px !important;
}
.resetbutton  > button  > div > div > span{
  font-size: 10px !important;
}




.passbutton {
  font-size: 0.8em;
  margin: 2%;
}
.passbutton  > button  > div > span{
  font-size: 10px !important;
} 
.passbutton  > button  > div > div > span{
  font-size: 10px !important;
}


@media only screen and (max-width: 768px) {


  .target {
    font-size: 3em; 
  }

  .number {
    margin: 5% 3% 5% 3% ; 

  }

  .timer-value { 
    font-size: 1.5rem; 
    padding:5%; 
  }

  .win-count {
    font-size: 1.3rem;
  }

  .explanation {
    font-size: 1em; 
    padding-bottom: 2%;
    
  }

  .numberbutton {
    font-size: 1em;
  }

  .startbutton {
    font-size: 0.5em;
  }

  .resetbutton {
    font-size: 0.5em;
  }

  .passbutton {
    font-size: 0.5em;
  }


}